
a { color: #06C; }
a:hover { color: #333; }
a:active { color: #000; }


/*///////////// Tabs Code ////////////*/

#tabs {
	clear: both;
	text-align: center;
}

#tabs ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tabs li { float: left; }

#tabs a,span { width: auto; }

#tabs span {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #333;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	padding: 6px 4px 6px 10px;
	text-decoration: none;
	color: #333;
}

#tabs a {
	position: relative;
	top: 0;
	margin: 1px 2px 0 0;
	float: left;
	background: #1a0e0a;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	color: #fff;
}

#tabs a:hover {
	background: #fff;
	color: #000;
	position: relative;
	top: 0;
	padding: 5px 20px 6px 20px;
	margin-top: 0px;
}

#tabs a.active {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #5acae0;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	padding: 6px 20px 6px 20px;
	text-decoration: none;
	color: #fff;
}

#tabs a.active:hover {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #5acae0;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	padding: 6px 20px 6px 20px;
	text-decoration: none;
	color: #fff;
}
.subtab_bar {
	background:#5acae0;
}
#subtabs {
	background: #5acae0;
	color: #000;
	padding: 5px 7px 7px 7px; /* for All other Browsers */
}
#subtabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#subtabs li {
	float: left;
	padding: 0 8px 0 8px;
	border-left: 1px solid #49d;
	white-space: nowrap;
}

#subtabs li:first-child { border-left: none; }


.pink #tabs a {
	color: #523a38;
}
.pink #tabs a.active {
	background: #fcd;
	color: #000;
}
.pink #tabs a.active:hover {
	background: #fcd;
	color: #000;
}
.pink .subtab_bar {
	background:#fcd;
}
.pink #subtabs {
	background: #fcd;
}

.blue #tabs a {
	color: #456;
}
.blue #tabs a.active {
	background: #5acae0;
	color: #000;
}
.blue #tabs a.active:hover {
	background: #5acae0;
	color: #000;
}
.blue .subtab_bar {
	background:#5acae0;
}
.blue #subtabs {
	background: #5acae0;
}

.green #tabs a {
	color: #252;
}
.green #tabs a.active {
	background: #252;
	color: #fff;
}
.green #tabs a.active:hover {
	background: #252;
	color: #fff;
}
.green .subtab_bar {
	background:#252;
}
.green #subtabs {
	background: #252;
}

.gold #tabs a {
	color: #540;
}
.gold #tabs a.active {
	background: #fd7;
	color: #000;
}
.gold #tabs a.active:hover {
	background: #fd7;
	color: #000;
}
.gold .subtab_bar {
	background:#fd7;
}
.gold #subtabs {
	background: #fd7;
}