<div id="page-form"></div>
<%= render :partial => 'form_items', :object => :page_form_items %>
<%= ext_form_for :page,
                 :element => 'page-form',
                 :form_items => :page_form_items,
                 :mode => :edit %>