
form p.big {
	font-size: 22px;
}
form p.big input {
	font-size: 22px;
}
form p.datetime select {
	width: 70px;
}
form .savepage {
	width: 390px;
	margin-left: 560px;
	margin-top: 20px;
	position: absolute;
}
form .savepage input {
	width: 100%;
	font-size: 2em;
}
.destroy a {
	color: #d00;
}


div.timerange {
	background: #de9;
	border: 2px solid #cd8;
	padding: 10px 20px;
	margin-bottom:16px;
}
div.timerange .from, div.timerange .until {
	float: left;
	border: 2px solid #cd8;
	padding: 3px 10px;
	background: #efa;
	
	
}
div.timerange .to {
	float: left;
	border: 2px solid #de9;
	padding: 3px 10px;
}

code {
	display: block;
	overflow: scroll;
	font-size: 1.2em;
	background: #222;
	color: #fff;
	padding: 1em 2em;
/*	font-weight: bold;*/
}

div.imagethumb {
	float: left;
	background: #fff;
	width:140px;
	height: 170px;
	border: 2px solid #eee;
	text-align:center;
	margin: 5px;
}
div.imagethumb img {
	margin:20px 20px 0 20px;
	clear:right;
}
div.filedrawer {
	background: #eee;
	border: 2px solid #e6e6e6;
	padding: 10px 20px;
	margin-bottom: 16px;
}
div.filelist {
}
div.filelist p {
	clear: both;
	height: 2em;
	padding: 3px 3px 10px;
	border-bottom: 1px solid #ddd;
	line-height: 2em;
}
div.filelist a img {	
	margin: 0em 1em 0 0;
	vertical-align :middle;
}

div.header {
	background: #1a0e0a url("/images/choco_bg.gif") bottom left repeat-x;
}
div.logo {
	height:90px;
	width:950px;margin:0 auto;
	background: url("/images/choco_logo.png") top left no-repeat;	
}
small { color: #777; }

div#page-layout {
	margin: 20px 0;
}
div#metafields {
	background: #ffe;
}
div#extrafields {
	background: #ffe;
}
div#extrafields, div#metafields, div.element {
	border-left: 3px solid #ddd;
	padding-left:20px;
	padding-top:20px;
	border-bottom: 1px solid #cca;
}
div#pagetitle {
	background: #efeefe;
	border-left:3px solid #68a;
	padding: 10px 0px 20px 20px;
}
div#elements .element {
	padding: 20px 0 20px 20px;
	border-bottom: 1px solid #eee;
}
div#page div {
}